/***************/
/*   DIVISOR   */
/***************/
.text__divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
  margin: 20px;
  text-transform: uppercase;
  color: var(--purple-dark);
  font-weight: 700;
}

.text__divider p {
  background-color: var(--gray-ligth);
  padding: 0 15px;
  border-radius: 5px;
}

.text__divider::before,
.text__divider::after {
  content: "";
  height: 2px;
  background-color: var(--purple-dark);
  flex-grow: 1;
}

.text__divider::before {
  margin-right: var(--text-divider-gap);
}

.text__divider::after {
  margin-left: var(--text-divider-gap);
}

/***************/
/*   GALLERY   */
/***************/
.gallery__container {
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery__img {
  display: block;
  width: 100%;
  max-width: 360px;
}

/*****************/
/*   SEPARADOR   */
/*****************/
.separador {
  width: 100%;
  height: 250px;
  background-image: url("./../assets/images/separador.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 60px;
  color: var(--white);
}

.separador__quote {
  height: 100%;
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Noto Serif", serif;
  /* color: var(--white); */
}

/**************/
/*   Button   */
/**************/
.button__cta {
  display: block;
  margin: 2em auto;
  min-width: 280px;
  background-color: var(--purple-medium);
  color: #fff;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  border-radius: 5px;
}

.button__cta:hover {
  background-color: transparent;
  border: 2px solid var(--purple-medium);
  color: var(--purple-medium);
}

/***************/
/*   Spinner   */
/***************/
.spinner {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: teal;
  border-radius: 50%;
  animation: spinner 1s ease-out infinite;
}

/************/
/*   FORM   */
/************/
.container__form {
  width: 100%;
  /* height: 245px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form__rta {
  color: var(--purple-medium);
  font-size: 1.4em;
  width: 80%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form > * {
  display: block;
  width: 100%;
  margin: 2rem auto;
}

.form__input--ok {
  border: thin solid var(--purple-medium);
}

.form__group {
  position: relative;
  width: 90%;
}

.form__input {
  /* min-height: 40px; */
  width: 100%;
  padding: 0.6em 1em;
  color: var(--purple-medium);
  font-size: 15px;
  border: 1px solid var(--purple-medium);
  border-radius: 6px;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
}

.form__icon {
  position: absolute;
  left: 5px;
  color: red;
}

.button__cta--subscribe {
  width: 90%;
}

.form__input:focus,
.form__input:focus-visible {
  border-color: var(--purple-ligth);
  outline: none;
}

.form__input.form__input--error {
  border: thin solid var(--input-error);
}

.form__error {
  position: absolute;
  width: 90%;
  border-radius: 5px;
  font-size: 80%;
  color: var(--input-error);
  transition: all 800ms ease;
  text-align: center;
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*************/
/*   Media   */
/*************/
@media (max-width: 992px) {
  .galeria-container {
    flex-direction: column;
  }
}
