/*************/
/*   TITLE   */
/*************/
.title {
  font-size: var(--title-size);
  text-align: center;
  color: var(--title-color);
  margin-top: 1.5em;
  font-weight: var(--title-weight);
}

/*****************/
/*   PARAGRAPH   */
/*****************/
.paragraph {
  text-align: center;
  color: var(--paragraph-color);
  line-height: 1.5;
  font-size: var(--paragraph-size);
  margin: 1.5em 0 1.2em 0;
  font-weight: var(--paragraph-weight);
}

/***************/
/*   DIVISOR   */
/***************/
.text__divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
  margin: 20px;
  text-transform: uppercase;
  color: var(--divisor-color);
  font-weight: 700;
}

.text__divider p {
  /* background-color: var(--gray-very-ligth); */
  background-color: transparent;
  padding: 0 15px;
  border-radius: 5px;
}

.text__divider::before,
.text__divider::after {
  content: "";
  height: 2px;
  background-color: var(--divisor-color);
  flex-grow: 1;
}

.text__divider::before {
  margin-right: var(--text-divider-gap);
}

.text__divider::after {
  margin-left: var(--text-divider-gap);
}

/***************/
/*   GALLERY   */
/***************/
.gallery__container {
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.gallery__img {
  display: block;
  width: 100%;
  max-width: 330px;
}

/*****************/
/*   SEPARADOR   */
/*****************/
.separador {
  width: 100%;
  height: 250px;
  background-image: url("./../assets/images/separador.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 60px;
  color: var(--white);
}

.separador__quote {
  height: 100%;
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Noto Serif", serif;
  /* color: var(--white); */
}

/**************/
/*   Button   */
/**************/
.button__cta {
  display: block;
  margin: 2em auto;
  width: 280px;
  background-color: var(--button-color);
  color: #fff;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: var(--paragraph-size);
  border: 2px solid transparent;
  transition: 0.3s ease;
  border-radius: 5px;
  text-decoration: none;
}

.button__cta:hover {
  background-color: transparent;
  border: 2px solid var(--button-color);
  color: var(--button-color);
}

/***************/
/*   Spinner   */
/***************/
.spinner {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: teal;
  border-radius: 50%;
  animation: spinner 1s ease-out infinite;
}

/************/
/*   FORM   */
/************/
.container__form {
  width: 100%;
  /* height: 245px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form__rta {
  color: var(--button-color);
  font-size: calc(var(--paragraph-size) * 2);
  width: 80%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form > * {
  display: block;
  width: 100%;
  margin: 2rem auto;
}

.form__input--ok {
  border: thin solid var(--button-color);
}

.form__group {
  position: relative;
  width: 90%;
}

.form__input {
  /* min-height: 40px; */
  width: 100%;
  padding: 0.4rem 1em;
  color: var(--paragraph-color);
  font-size: 16px;
  border: 1px solid var(--button-color);
  border-radius: 6px;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
}

.form__icon {
  position: absolute;
  left: 5px;
  color: var(--error-color);
}

.button__cta--subscribe {
  width: 90%;
}

.form__input:focus,
.form__input:focus-visible {
  border-color: var(--button-color);
  outline: none;
}

.form__input.form__input--error {
  border: thin solid var(--error-color);
}

.form__error {
  position: absolute;
  width: 90%;
  border-radius: 5px;
  font-size: 80%;
  color: var(--error-color);
  transition: all 800ms ease;
  text-align: center;
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.form__input--contact {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*************/
/*   Media   */
/*************/
@media (min-width: 992px) {
  .gallery__container {
    flex-direction: row;
  }
}
