@import "./base.css";
@import "./menu.css";
@import "./common.css";
@import "./footer.css";

html {
  /* font-size: 62.5%; */
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-y: scroll;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* overflow: auto; */
  padding: var(--padding-container);
}

.inactive {
  display: none;
}

/************/
/*   HERO   */
/************/
.hero-image {
  background: url("./../assets/images/hero.jpg");
  min-height: 50vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hero-image div {
  padding: 20px;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-image h1 {
  color: #fff;
  font-size: 2rem;
}
.hero-image p {
  color: var(--white);
  font-size: 1.1rem;
}

/****************/
/*   Nosotros   */
/****************/
.nosotros {
  padding: var(--padding-container);
  text-align: center;
}

.nosotros__cta {
  display: inline-block;
  margin-top: 40px;
  font-size: 1.1rem;
  color: var(--button-color);
  font-weight: 700;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease all;
}

.nosotros__cta:hover {
  text-decoration: none;
  letter-spacing: 3px;
  border-bottom: 1px solid var(--button-color);
}

/*****************/
/*   Servicios   */
/*****************/
.servicios {
  background: var(--gray-very-ligth);
  text-align: center;
}

.servicios__articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.servicio__item {
  position: relative;
  width: 250px;
  margin: 20px;
}

.servicio__img {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.servicio__overlay {
  width: 0%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--effect-color);
  overflow: hidden;
  transition: 0.5s ease all;
  border-radius: 5px;
}

.servicio__item:hover .servicio__overlay {
  width: 100%;
  opacity: 0.8;
}

.servicio__text {
  top: 50%;
  left: 50%;
  position: absolute;
  white-space: nowrap;
  color: var(--white);
  font-size: 18px;
  transform: translate(-50%, -50%);
  /* overflow: hidden; */
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/******************/
/*   BENEFICIOS   */
/******************/
.beneficios__container {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 60px;
}

.beneficios__container article {
  width: 40%;
  min-width: 300px;
}

.beneficios__picture {
  min-height: 280px;
}

.beneficios__img {
  width: 70px;
  height: 70px;
}

/****************/
/*   CONCEPTS   */
/****************/

.concepts {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  /* --padding-container: 120px 0 0; */
}

.concept__article {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex: 0 0 50%;
  gap: 1.5em;
}

.card {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  position: relative;
}

.card:hover .front {
  transform: perspective(100px) rotateY(180deg);
  transition: all 1s;
}

.card:hover .back {
  transform: perspective(100px) rotateY(360deg);
  transition: all 1s;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  border: 3px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.face.front {
  transform: perspective(100px) rotateY(0deg);
  padding: 1em;
  background-color: var(--gray-very-ligth);
}

.face__img {
  width: 100%;
  height: 100%;
}

.face.back {
  transform: perspective(100px) rotateY(180deg);
  font-weight: 600;
  padding: 1em;
  text-align: center;
  color: var(--effect-color);
  background-color: var(--gray-very-ligth);
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.concept__img {
  display: block;
  /* width: 100%; */
  max-width: 400px;
  max-height: 450px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/***************/
/*   Lessons   */
/***************/
.lessons {
  /* background-color: #9bc86a; */
}

.lessons__table {
  border-spacing: 1;
  border-collapse: collapse;
  background: var(--gray-very-ligth);
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

td,
th {
  padding-left: 8px;
}

thead tr {
  height: 60px;
  background: #ffed86;
  font-size: 16px;
  border-bottom: 1px solid var(--gray-ligth);
}

tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
  border-bottom: 1px solid var(--gray-ligth);
}
tbody tr:last-child {
  border: 0;
}

td,
th {
  text-align: left;
}

/***************/
/*   CONTACT   */
/***************/
.contact {
  padding: var(--padding-container);
  text-align: center;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 0;
}

.contact__picture {
  width: 100%;
  height: 400px;
  background-image: url("../assets/images/contact.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.contact__img {
  width: 100%;
  display: block;
}

.contact__title {
  padding: 20px;
  /* font-size: 1.3rem; */
  /* font-weight: 900; */
  line-height: 1.5;
  font-weight: 600;
  color: var(--black);
  text-align: center;
}

@media (min-width: 769px) {
  .hero-image {
    background-color: rgba(0, 0, 0, 0.25);
  }
  .hero-image h1 {
    font-size: 3rem;
  }
  .contact__container {
    flex-direction: row;
    /* padding: 100px; */
  }
  .contact__container article {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .concept__article {
    flex: 0 0 100%;
  }
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
}
